<!DOCTYPE html>
<html>
<head>
<title>Memories</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Memories 📸</h1>
<div class="gallery">
<img src="/images/img1.jpg">
<img src="/images/img2.jpg">
<img src="/images/img3.jpg">
</div>
<a href="/cake" class="btn">Next</a>
</body>
</html>